<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/styles/styles.css" rel="stylesheet"/>
    <title>Jumia Task</title>
    <!-- Latest compiled and minified CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        h1 {
            align-content: center;
        }
    </style>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>


<body>
<h1>Welcome to Jumia task</h1>

<div id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <h4>Choose a country:</h4>
            </div>
            <div class="col-sm-3">
                <select name="countries" id="countries" class="btn btn-primary dropdown-toggle"
                        v-on:change="changeCountry($event)">
                    <option value=""></option>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Ethiopia">Ethiopia</option>
                    <option value="Morocco">Morocco</option>
                    <option value="Mozambique">Mozambique</option>
                    <option value="Uganda">Uganda</option>
                </select>
            </div>
            <div class="col-sm-2">
                <h4 for="state">State</h4>
            </div>
            <div class="col-sm-3">
                <select name="state" id="state" class="btn btn-primary dropdown-toggle"
                        v-on:change="changeState($event)">
                    <option value=""></option>
                    <option value="VALID">Valid</option>
                    <option value="INVALID">Invalid</option>
                </select></div>
        </div>
    </div>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Country</th>
            <th>Country Code</th>
            <th>State</th>
        </tr>
        <tr v-for="customer in filteredCustomers">
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.country}}</td>
            <td>{{customer.countryCode}}</td>
            <td>{{customer.state}}</td>
        </tr>
    </table>
</div>


<script>
    const URL = 'http://localhost:8080/api/customer';
    var app = new Vue({
        el: '#app',
        data: {
            customers: []
        },
        props: [
            'filteredCustomers',
            'size',
            'page',
            'country',
            'state'
        ],
        created() {
            fetch(`${URL}/all`)
                .then(response => {
                    return response.json()
                }).then(customers => {
                this.customers = customers;
                this.filteredCustomers = customers;
            });
        }, methods: {
            changeCountry(event) {
                this.country = event.target.value;
                this.updateCustomers();
            },
            changeState(event) {
                this.state = event.target.value;
                this.updateCustomers();
            }, updateCustomers() {
                this.filteredCustomers = this.customers.filter(c => {
                    return (this.country ? (c.country === this.country) : true) && (this.state ? (c.state === this.state) : true);
                });
            }
        }
    });


</script>

</body>
</html>
